.teste  p{
    color: black;
}

body{
    padding: 1rem 0rem;
    margin: 0 auto;
    margin-left: 100px;
    margin-right: 100px;
  }

.carousel {
  width: fit-content;
}

.carousel p, h5{
  padding:5px;
  background-color:#676767;
  opacity: 0.75;
}


.container p {
  text-align: justify;
}

section {
  margin-top: 60px;
}

footer {
  margin-top: 80px;
}
